In [2]:
# data/gapminder.tsv 를 읽어 데이터 프레임 만들기
import pandas as pd  

df_gapminder = pd.read_csv('./data/gapminder.tsv',sep='\t')
df_gapminder

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [10]:
# 미리보기
df_gapminder.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [11]:
# 미리보기
df_gapminder.head(3)

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710

In [12]:
# 미리보기
df_gapminder.tail(3)

       country continent  year  lifeExp       pop   gdpPercap
1701  Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702  Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [21]:
# country 열 추출하기
# country 열만 추출 (Series 형태)
country_series = df_gapminder['country']

# country 열만 추출 (DataFrame 형태로)
country_df = df_gapminder[['country']]

country_series,country_df

(0       Afghanistan
 1       Afghanistan
 2       Afghanistan
 3       Afghanistan
 4       Afghanistan
            ...
 1699       Zimbabwe
 1700       Zimbabwe
 1701       Zimbabwe
 1702       Zimbabwe
 1703       Zimbabwe
 Name: country, Length: 1704, dtype: object,
           country
 0     Afghanistan
 1     Afghanistan
 2     Afghanistan
 3     Afghanistan
 4     Afghanistan
 ...           ...
 1699     Zimbabwe
 1700     Zimbabwe
 1701     Zimbabwe
 1702     Zimbabwe
 1703     Zimbabwe

 [1704 rows x 1 columns])

In [ ]:
# 'country', 'continent', 'year' 열 추출하기

country_df = df_gapminder[['country','continent', 'year']]
country_df

          country continent  year
0     Afghanistan      Asia  1952
1     Afghanistan      Asia  1957
2     Afghanistan      Asia  1962
3     Afghanistan      Asia  1967
4     Afghanistan      Asia  1972
...           ...       ...   ...
1699     Zimbabwe    Africa  1987
1700     Zimbabwe    Africa  1992
1701     Zimbabwe    Africa  1997
1702     Zimbabwe    Africa  2002
1703     Zimbabwe    Africa  2007

[1704 rows x 3 columns]

In [27]:
# [0], [99] , [-1] 행을 각각 추출하기
df_gapminder.iloc[0]
df_gapminder.iloc[99]
df_gapminder.iloc[-1]

country        Zimbabwe
continent        Africa
year               2007
lifeExp          43.487
pop            12311143
gdpPercap    469.709298
Name: 1703, dtype: object