In [2]:
# data/gapminder.tsv 를 읽어 데이터 프레임 만들기
import pandas as pd  

df_gapminder = pd.read_csv('./data/gapminder.tsv',sep='\t')
df_gapminder

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [10]:
# 미리보기
df_gapminder.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [11]:
# 미리보기
df_gapminder.head(3)

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710

In [12]:
# 미리보기
df_gapminder.tail(3)

       country continent  year  lifeExp       pop   gdpPercap
1701  Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702  Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [21]:
# country 열 추출하기
# country 열만 추출 (Series 형태)
country_series = df_gapminder['country']

# country 열만 추출 (DataFrame 형태로)
country_df = df_gapminder[['country']]

country_series,country_df

(0       Afghanistan
 1       Afghanistan
 2       Afghanistan
 3       Afghanistan
 4       Afghanistan
            ...
 1699       Zimbabwe
 1700       Zimbabwe
 1701       Zimbabwe
 1702       Zimbabwe
 1703       Zimbabwe
 Name: country, Length: 1704, dtype: object,
           country
 0     Afghanistan
 1     Afghanistan
 2     Afghanistan
 3     Afghanistan
 4     Afghanistan
 ...           ...
 1699     Zimbabwe
 1700     Zimbabwe
 1701     Zimbabwe
 1702     Zimbabwe
 1703     Zimbabwe

 [1704 rows x 1 columns])

In [5]:
# 'country', 'continent', 'year' 열 추출하기

country_df = df_gapminder[['country','continent', 'year']]
country_df

          country continent  year
0     Afghanistan      Asia  1952
1     Afghanistan      Asia  1957
2     Afghanistan      Asia  1962
3     Afghanistan      Asia  1967
4     Afghanistan      Asia  1972
...           ...       ...   ...
1699     Zimbabwe    Africa  1987
1700     Zimbabwe    Africa  1992
1701     Zimbabwe    Africa  1997
1702     Zimbabwe    Africa  2002
1703     Zimbabwe    Africa  2007

[1704 rows x 3 columns]

In [27]:
# [0], [99] , [-1] 행을 각각 추출하기
df_gapminder.iloc[0]
df_gapminder.iloc[99]
df_gapminder.iloc[-1]

country        Zimbabwe
continent        Africa
year               2007
lifeExp          43.487
pop            12311143
gdpPercap    469.709298
Name: 1703, dtype: object

In [28]:
df_gapminder

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [42]:
# 연도와 인구 10건 -> 슬라이싱-> 서브셋
df_gapminder[['year','pop']].head(10)

   year       pop
0  1952   8425333
1  1957   9240934
2  1962  10267083
3  1967  11537966
4  1972  13079460
5  1977  14880372
6  1982  12881816
7  1987  13867957
8  1992  16317921
9  1997  22227415

In [34]:
# 인구당 gdp 마지막 10개 값 추출
df_gapminder.iloc[:,5].tail(10)

1694    527.272182
1695    569.795071
1696    799.362176
1697    685.587682
1698    788.855041
1699    706.157306
1700    693.420786
1701    792.449960
1702    672.038623
1703    469.709298
Name: gdpPercap, dtype: float64

In [50]:
# range() 객체로 행/열 슬라이싱
df_gapminder.iloc[:,range(1, 3)] #열
df_gapminder.iloc[range(1, 3),:]  # 행

       country continent  year  lifeExp       pop  gdpPercap
1  Afghanistan      Asia  1957   30.332   9240934  820.85303
2  Afghanistan      Asia  1962   31.997  10267083  853.10071

In [83]:
# df의 기능들
# data/gapminder.tsv 를 읽어 데이터 프레임 만들기
import pandas as pd  

df = pd.read_csv('./data/gapminder.tsv',sep='\t')
df

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [53]:
df.describe()

             year      lifeExp           pop      gdpPercap
count  1704.00000  1704.000000  1.704000e+03    1704.000000
mean   1979.50000    59.474439  2.960121e+07    7215.327081
std      17.26533    12.917107  1.061579e+08    9857.454543
min    1952.00000    23.599000  6.001100e+04     241.165876
25%    1965.75000    48.198000  2.793664e+06    1202.060309
50%    1979.50000    60.712500  7.023596e+06    3531.846988
75%    1993.25000    70.845500  1.958522e+07    9325.462346
max    2007.00000    82.603000  1.318683e+09  113523.132900

In [56]:
df['year'].value_counts()

year
1952    142
1957    142
1962    142
1967    142
1972    142
1977    142
1982    142
1987    142
1992    142
1997    142
2002    142
2007    142
Name: count, dtype: int64

In [59]:
print(df.groupby('year')['lifeExp'].mean())

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [60]:
df.groupby('year')['lifeExp'].max()

year
1952    72.670
1957    73.470
1962    73.680
1967    74.160
1972    74.720
1977    76.110
1982    77.110
1987    78.670
1992    79.360
1997    80.690
2002    82.000
2007    82.603
Name: lifeExp, dtype: float64

In [61]:
df.groupby('year')['lifeExp'].head()

0     28.801
1     30.332
2     31.997
3     34.020
4     36.088
5     38.438
6     39.854
7     40.822
8     41.674
9     41.763
10    42.129
11    43.828
12    55.230
13    59.280
14    64.820
15    66.220
16    67.690
17    68.930
18    70.420
19    72.000
20    71.581
21    72.950
22    75.651
23    76.423
24    43.077
25    45.685
26    48.303
27    51.407
28    54.518
29    58.014
30    61.368
31    65.799
32    67.744
33    69.152
34    70.994
35    72.301
36    30.015
37    31.999
38    34.000
39    35.985
40    37.928
41    39.483
42    39.942
43    39.906
44    40.647
45    40.963
46    41.003
47    42.731
48    62.485
49    64.399
50    65.142
51    65.634
52    67.065
53    68.481
54    69.942
55    70.774
56    71.868
57    73.275
58    74.340
59    75.320
Name: lifeExp, dtype: float64

In [1]:
group_df = df.groupby('year')
group_df

NameError: name 'df' is not defined

In [72]:
group_df['gdpPercap'].mean()

year
1952     3725.276046
1957     4299.408345
1962     4725.812342
1967     5483.653047
1972     6770.082815
1977     7313.166421
1982     7518.901673
1987     7900.920218
1992     8158.608521
1997     9090.175363
2002     9917.848365
2007    11680.071820
Name: gdpPercap, dtype: float64

In [101]:
df.groupby(['year','continent'])[['lifeExp','gdpPercap']].mean()

                  lifeExp     gdpPercap
year continent
1952 Africa     39.135500   1252.572466
     Americas   53.279840   4079.062552
     Asia       46.314394   5195.484004
     Europe     64.408500   5661.057435
     Oceania    69.255000  10298.085650
1957 Africa     41.266346   1385.236062
     Americas   55.960280   4616.043733
     Asia       49.318544   5787.732940
     Europe     66.703067   6963.012816
     Oceania    70.295000  11598.522455
1962 Africa     43.319442   1598.078825
     Americas   58.398760   4901.541870
     Asia       51.563223   5729.369625
     Europe     68.539233   8365.486814
     Oceania    71.085000  12696.452430
1967 Africa     45.334538   2050.363801
     Americas   60.410920   5668.253496
     Asia       54.663640   5971.173374
     Europe     69.737600  10143.823757
     Oceania    71.310000  14495.021790
1972 Africa     47.450942   2339.615674
     Americas   62.394920   6491.334139
     Asia       57.319269   8187.468699
     Europe     70.775033  12479.575246
     Oceania    71.910000  16417.333380
1977 Africa     49.580423   2585.938508
     Americas   64.391560   7352.007126
     Asia       59.610556   7791.314020
     Europe     71.937767  14283.979110
     Oceania    72.855000  17283.957605
1982 Africa     51.592865   2481.592960
     Americas   66.228840   7506.737088
     Asia       62.617939   7434.135157
     Europe     72.806400  15617.896551
     Oceania    74.290000  18554.709840
1987 Africa     53.344788   2282.668991
     Americas   68.090720   7793.400261
     Asia       64.851182   7608.226508
     Europe     73.642167  17214.310727
     Oceania    75.320000  20448.040160
1992 Africa     53.629577   2281.810333
     Americas   69.568360   8044.934406
     Asia       66.537212   8639.690248
     Europe     74.440100  17061.568084
     Oceania    76.945000  20894.045885
1997 Africa     53.598269   2378.759555
     Americas   71.150480   8889.300863
     Asia       68.020515   9834.093295
     Europe     75.505167  19076.781802
     Oceania    78.190000  24024.175170
2002 Africa     53.325231   2599.385159
     Americas   72.422040   9287.677107
     Asia       69.233879  10174.090397
     Europe     76.700600  21711.732422
     Oceania    79.740000  26938.778040
2007 Africa     54.806038   3089.032605
     Americas   73.608120  11003.031625
     Asia       70.728485  12473.026870
     Europe     77.648600  25054.481636
     Oceania    80.719500  29810.188275

In [98]:
# country, continent, year 집계 가능 속성
# 집계, mean(), max(), main()
df[['country','continent']].value_counts()

country             continent
Afghanistan         Asia         12
Albania             Europe       12
Algeria             Africa       12
Angola              Africa       12
Argentina           Americas     12
                                 ..
Vietnam             Asia         12
West Bank and Gaza  Asia         12
Yemen, Rep.         Asia         12
Zambia              Africa       12
Zimbabwe            Africa       12
Name: count, Length: 142, dtype: int64

In [112]:
g_df_mean = df.groupby(['country','continent'])[['lifeExp']].mean()
g_df_mean

                                lifeExp
country            continent
Afghanistan        Asia       37.478833
Albania            Europe     68.432917
Algeria            Africa     59.030167
Angola             Africa     37.883500
Argentina          Americas   69.060417
...                                 ...
Vietnam            Asia       57.479500
West Bank and Gaza Asia       60.328667
Yemen, Rep.        Asia       46.780417
Zambia             Africa     45.996333
Zimbabwe           Africa     52.663167

[142 rows x 1 columns]

In [ ]:
# 기대수명 평균이 가장 낮은 국가는? 대륙은?