In [1]:
# 파일읽기

In [2]:
with open('abc/text.txt','w') as f:
    f.write('hello')

In [3]:
f = open('abc/text.txt','r')
f.read()
f.close()

In [4]:
with open('abc/text.txt','r+', encoding="utf-8") as f:
    content = f.read()
    f.write(" \n안녕하세요")

In [5]:
with open('abc/text.txt','r', encoding="utf-8") as f:
    content =f.read()
    print(content)

hello
안녕하세요

In [6]:
lines = ["첫 번째 줄입니다.\n", "두 번째 줄입니다.\n", "세 번째 줄입니다.\n"]

with open('abc/text.txt', 'w') as f:
    f.writelines(lines)

In [7]:
with open("abc/text.txt", "r", encoding="utf-8") as file:
    line = file.readline()
    print(line)

첫 번째 줄입니다.

In [8]:
with open("abc/text.txt", "r", encoding="utf-8") as file:
    lines = file.readlines()

for line in lines:
    print(line.strip())

첫 번째 줄입니다.
두 번째 줄입니다.
세 번째 줄입니다.

# 피클, 직렬화/역질렬화

In [9]:
import pickle

In [10]:
# 직렬화할 데이터
data = {
    'name': '홍길동',
    'age': 30,
    'scores': [90, 85, 88]
}

# 직렬화하여 파일에 저장
with open('abc/data.pickle', 'wb') as f:
    pickle.dump(data, f)

In [11]:
# 파일에서 역직렬화하여 읽기
with open('abc/data.pickle', 'rb') as f:
    loaded_data = pickle.load(f)

print(loaded_data)  # 원본 데이터가 그대로 복원됨

{'name': '홍길동', 'age': 30, 'scores': [90, 85, 88]}

In [12]:
import json

In [13]:
with open('abc/data.json', 'w') as f:
    json.dump(data, f, ensure_ascii=False)

In [14]:
with open('abc/data.json', 'r') as f:
    loaded_text = json.load(f)
print(loaded_text)

{'name': '홍길동', 'age': 30, 'scores': [90, 85, 88]}

In [15]:
import csv
data = [['name','age'],['bob',20],['alice',15]]
data

[['name', 'age'], ['bob', 20], ['alice', 15]]

In [16]:
# 직렬화하여 파일에 저장
with open('abc/data.csv', 'w') as f:
    wrt = csv.writer(f)
    wrt.writerow(data)

In [17]:
import pandas as pd 
df = pd.DataFrame(data)
df.to_csv('abc/data_df.csv')

In [18]:
pd.read_csv('abc/data_df.csv')

   Unnamed: 0      0    1
0           0   name  age
1           1    bob   20
2           2  alice   15

In [19]:
df.columns =['name', 'age']

In [20]:
df

    name  age
0   name  age
1    bob   20
2  alice   15

In [21]:
df.drop(0,inplace=True)

In [22]:
df

    name age
1    bob  20
2  alice  15

In [23]:
df.to_csv('abc/data_df.csv')