# 복합자료형 리스트

여러개의 값을 묶어서 하나의 변수로 다루는 자료형

생성법
1. `[ ]` 대괄호를 사용
2. 데이터는 , 쉼표로 구분
3. `[ ]` 빈 대괄호는 초기화
4. 숫자, 문자, 부울, 리스트 같은 객체 모두 담을 수 있다
5. 순서 index를 가진다 0시작
6. 음수 인덱스도 가진다

In [1]:
score = [30,50,90,80,100]
score[0] #첫번째 학생의 점수

30

In [3]:
type(score), type(score[0])

(list, int)

In [4]:
dir(score)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [11]:
ra = range(2,20,2)  #숫자의 배열, 순열

In [12]:
num_list = list(ra) #생성자
num_list

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [10]:
num_list[-1]

9

In [14]:
ra.__len__()

9

In [16]:
num_list.count(2)

1

method와 function

1. method : 객체의 한해서 동작하는 함수 > 객체명.함수()
2. function : 함수( 매개변수 ) > 매개변수로 동작하는 함수

dir() > function   
list_obj.__len__() > method

In [18]:
str_1 = 'hello'
str_1[0] = 'H' #TypeError > str Immutable

TypeError: 'str' object does not support item assignment

In [20]:
str_2 = list(str_1) #문자열 > 문자열리스트
str_2[0] = 'H'
str_2.

['H', 'e', 'l', 'l', 'o']

In [21]:
str(str_2)

"['H', 'e', 'l', 'l', 'o']"

In [22]:
''.join(str_2)

'Hello'

In [23]:
# 리스트의 생성
a = list()
a = []
b = [1,2,3,4,5]
c = ['aaa', 'bbb', 'ccc']
d = [1,2,'aaa','bbb']
e = [c,d]
e

[['aaa', 'bbb', 'ccc'], [1, 2, 'aaa', 'bbb']]

In [25]:
e[0], type(e[0])

(['aaa', 'bbb', 'ccc'], list)

In [26]:
e[1], e[-1]

([1, 2, 'aaa', 'bbb'], [1, 2, 'aaa', 'bbb'])

In [28]:
e[1][2],  e[0:1]

('aaa', [['aaa', 'bbb', 'ccc']])

In [29]:
e[1][:2]

[1, 2]

In [30]:
score = [[1,2], [3,4]]
score

[[1, 2], [3, 4]]

복사
1. 얕은 복사 shallow copy
2. 깊은 복사 deep copy

In [32]:
new_score = score[:]  #얕은카피
new_score[0][0] = 100
new_score

[[100, 2], [3, 4]]

In [33]:
score

[[100, 2], [3, 4]]

In [34]:
import copy
copied = copy.copy(score)
copied[0][1] = 99
copied

[[100, 99], [3, 4]]

In [35]:
score

[[100, 99], [3, 4]]

In [36]:
deepcopied = copy.deepcopy(score)
deepcopied[1][0] = 100
deepcopied

[[100, 99], [100, 4]]

In [37]:
score

[[100, 99], [3, 4]]

# 리스트의 연산

- `+` __add__()
- `*` __mul__()
- del list[항목]
- in list -> True/False

In [38]:
lunch1 = ['해물라면', '샐러드', '떡뽁이']
lunch2 = ['오무라이스', '볶음밥', '떡뽁이', '제육볶음', '주먹밥']
lunch1+lunch2

['해물라면', '샐러드', '떡뽁이', '오무라이스', '볶음밥', '떡뽁이', '제육볶음', '주먹밥']

In [40]:
lunch1*2

['해물라면', '샐러드', '떡뽁이', '해물라면', '샐러드', '떡뽁이']

In [42]:
del lunch1[0]

In [43]:
lunch1

['샐러드', '떡뽁이']

In [46]:
# lunch1과 lunch2를 합하고 '떡뽁이' 1개를 제외하세요
lunch3 = lunch1+lunch2
del lunch3[1]
lunch3

['샐러드', '오무라이스', '볶음밥', '떡뽁이', '제육볶음', '주먹밥']

In [47]:
'떡뽁이' in lunch3

True

In [55]:
# 간식박스 관리 프로그램 1
snack_box = ['초코파이']
new_snack = input('먹고 싶은 간식을 추가하세요.  단, 쉼표(,)로 연결하세요').split(',')
snack_box += new_snack

먹고 싶은 간식을 추가하세요.  단, 쉼표(,)로 연결하세요 홈런볼, 사이다

In [56]:
snack_box

['초코파이', '홈런볼', ' 사이다']

In [57]:
# 간식박스 관리 프로그램 2
qty = int(input('간식박스 몇 세트로 포장할까요? 예: 2 -> 2box'))

간식박스 몇 세트로 포장할까요? 예: 2 -> 2box 2

In [58]:
snack_box *= qty
snack_box

['초코파이', '홈런볼', ' 사이다', '초코파이', '홈런볼', ' 사이다']

In [59]:
print(f'주문하신 간식상자는 {snack_box[0]},{snack_box[1]},{snack_box[2]} 등입니다. 확인해주세요.')

주문하신 간식상자는 초코파이,홈런볼, 사이다 등입니다. 확인해주세요.

In [63]:
# 간식박스 관리 프로그램 3
msg = f'혹시 빼고싶은 간식이 있으면 번호를 입력하세요 (0~{len(snack_box)-1})'
snack_no = int(input(msg))

혹시 빼고싶은 간식이 있으면 번호를 입력하세요 (0~5) 1

In [65]:
del snack_box[snack_no]

In [67]:
# 간식박스 관리 프로그램 4
# 찾고 싶은 간식이름을 입력하세요
# 있어요 OR 없어요 출력
snack_name = input('찾고 싶은 간식을 입력하세요')
if snack_name in snack_box :
    print('있어요')
else:
    print('없어요')

찾고 싶은 간식을 입력하세요 홈런볼

있어요

In [71]:
# 간식박스 관리 프로그램 5
print('주문하신 간식박스는 뒤에서부터 다음과 같습니다.')
print(f'{snack_box[::-1]} , 총 {len(snack_box)}개입니다.')

주문하신 간식박스는 뒤에서부터 다음과 같습니다.
[' 사이다', '홈런볼', '초코파이', ' 사이다', '초코파이'] , 총 5개입니다.

# 리스트의 메소드

| 메서드                  | 사용 예시                    | 설명                |
| -------------------- | ------------------------ | ----------------- |
| `append(x)`          | `lst.append(4)`          | 맨 뒤에 `x` 추가       |
| `insert(i, x)`       | `lst.insert(1, "a")`     | `i` 위치에 `x` 삽입    |
| `extend(iter)`       | `lst.extend([4, 5])`     | 리스트에 여러 값 추가      |
| `remove(x)`          | `lst.remove("a")`        | `x`와 일치하는 첫 항목 삭제 |
| `pop()`              | `lst.pop()`              | 마지막 항목 제거하고 반환    |
| `pop(i)`             | `lst.pop(0)`             | `i`번째 항목 제거하고 반환  |
| `clear()`            | `lst.clear()`            | 리스트 전체 비우기        |
| `index(x)`           | `lst.index("a")`         | `x`의 위치(인덱스) 반환   |
| `count(x)`           | `lst.count("a")`         | `x`의 개수 세기        |
| `sort()`             | `lst.sort()`             | 오름차순 정렬 (원본 변경)   |
| `sort(reverse=True)` | `lst.sort(reverse=True)` | 내림차순 정렬           |
| `reverse()`          | `lst.reverse()`          | 항목 순서 뒤집기         |
| `copy()`             | `lst2 = lst.copy()`      | 리스트 복사            |

# 연산자


- 비식별연산자
1. 수치연산 : 사칙연산
    add() -> 특별메소드를 정의하고 객체에서 쓸 수 있다
   숫자일 때는 기본 연산
   형변환이 자동으로 일어난다 int+float > float, int/int > float
2. 대입연산 : assign, 할당 `=`
   변수 = 값
   자기 자신에게 대입하는 연산 > +=, -=, *=, /= > ( ) 가 자동으로 적용
5. 비교연산
   `=` 와 `==`
   `!=` `>=` `<=`

   리스트의 비교 `==` > 내용이 같은가?   
   리스트의 비교 `is` > 주소가 같은가?
   
   리스트의 주소 `id()` 값이 같은지를 비교 > 메모리 영역이 같은가?
   
7. 논리연산
    and, or, not
   &, &&, |, !
   
   
- 식별 연산자
  1. is , is not

In [27]:
lunch1 = ['주먹밥', '치킨', '칼국수']
lunch2 = ['주먹밥', '치킨', '칼국수']
lunch1 == lunch2  #값의 비교

True

In [28]:
id(lunch1) == id(lunch2)

False

In [29]:
lunch1 is lunch2 # 주소를 비교

False

In [65]:
total = 1000 + \
        2500 + \
        3200 + \
        150
print("총합:", total)

총합: 6850

In [4]:
a=5
#a= a + 5
a += 5

In [7]:
a=5
b=2

In [8]:

a *= (2 + b)  # a = 5 * (2 + 2)
a

20

In [9]:
students = [
               {'num':'1','name':'김철수','kor':90,'eng':80,'math':85,'total':0,'avg':0.0,'order':0 },
               {'num':'2','name':'박제동','kor':90,'eng':85,'math':90,'total':0,'avg':0.0,'order':0 },
               {'num':'3','name':'홍길동','kor':80,'eng':80,'math':80,'total':0,'avg':0.0,'order':0 }
           ]

In [10]:
students

[{'num': '1',
  'name': '김철수',
  'kor': 90,
  'eng': 80,
  'math': 85,
  'total': 0,
  'avg': 0.0,
  'order': 0},
 {'num': '2',
  'name': '박제동',
  'kor': 90,
  'eng': 85,
  'math': 90,
  'total': 0,
  'avg': 0.0,
  'order': 0},
 {'num': '3',
  'name': '홍길동',
  'kor': 80,
  'eng': 80,
  'math': 80,
  'total': 0,
  'avg': 0.0,
  'order': 0}]

In [71]:
students[0]['total'] = students[0]['kor'] \
                        + students[0]['eng'] \#blank가 없어야 한다
                        + students[0]['math'] 
students[0]['total']

255

In [68]:
students[0]['total'] = students[0]['kor'] +\
                        students[0]['eng'] +\
                        students[0]['math']
students[0]['total']

255

In [17]:
students[1]['total'] = (students[1]['kor'] 
                        + students[1]['eng']  
                        + students[1]['math'])
students[1]['total']

265

In [18]:
students[2]['total'] = (students[2]['kor'] 
                        + students[2]['eng']  
                        + students[2]['math'])
students[2]['total']

240

In [22]:
#for 문에서는 리스트의 요소를 하나씩 꺼낼 수 있다 : in 키워드
for student in students : #0,1,2 : 0 > 1 > 2 > iterator
    student['total'] = (student['kor'] + student['eng']  + student['math'])
    student['avg'] = student['total'] / 3
    print(student['total'], student['avg'])

255 85.0
265 88.33333333333333
240 80.0

In [ ]:
# avg 구하기
for student in students : #students[0],1,2 : 0 > 1 > 2 > iterator
    student['avg'] = (student['total'] / 3 )
    print(student['total'])

In [25]:
#students order
for student in students :  #students[0] 자료를 꺼낸 것이 student
    rank = 1
    for other in students :
        if other['total'] > student['total'] :
            rank += 1
    student['order'] = rank
    print(student['name'], student['order'])

김철수 2
박제동 1
홍길동 3

In [26]:
for student in students:
    print(student['name'], student['order'], student['total'], student['avg'])

김철수 2 255 85.0
박제동 1 265 88.33333333333333
홍길동 3 240 80.0

# 리스트에 많이 쓰는 내장함수들

- type()
- sorted()
- dir()
- id()
- len()
- sum(), max(), min()

# 리스트 퀴즈

Q1. [1,3,5,4,2]라는 리스트를 [5,4,3,2,1]로 만들어보자

Q2. ['Life','is','too','short']라는 리스트를 Life is too short라는 문자열로 만들어 출력해 보자

Q3. 다음 리스트 L의 순서를 아래와 같이 변경하시오. (힌트: pop())

변경 전 

[1, 3, 5, 7, 9]  

변경 후

[3, 5, 7, 9, 1]

# 딕셔너리

`{ 키:값, 키:값, }`

In [30]:
person = { '이름':'alice', '나이':25, '도시':'서울' }
person

{'이름': 'alice', '나이': 25, '도시': '서울'}

In [31]:
person2 = dict(이름="Bob", 나이=30, 도시="부산")
person2

{'이름': 'Bob', '나이': 30, '도시': '부산'}

In [33]:
person['이름'] = '홍길동'
person

{'이름': '홍길동', '나이': 25, '도시': '서울'}

In [35]:
person[0] = 'Bob' #key create
person

{'이름': '홍길동', '나이': 25, '도시': '서울', 0: 'Bob'}

In [37]:
#person[2] #KeyError

In [38]:
type(person)

dict

In [39]:
dir(person)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [46]:
p_list = person.items()

In [47]:
for item in p_list :
    print(item)

('이름', '홍길동')
('나이', 25)
('도시', '서울')
(0, 'Bob')

In [45]:
keys = person.keys()
type(keys)

dict_keys

In [44]:
for k in keys :
    print(k)

이름
나이
도시
0

In [ ]:
# values() 연습

In [51]:
# update()는 딕셔너리에 딕셔너리를 추가합니다.
person.update(person2)
person

{'이름': 'Bob', '나이': 30, '도시': '부산', 0: 'Bob'}

In [ ]:
#person3를 추가한다면?
#키가 같으므로, 값이 업데이트
#키가 다르면 추가

In [ ]:
person['이름'] = 'alice'

In [52]:
person3 = {'성별':'여자', '취미':'판타지'}
person.update(person3)
person

{'이름': 'Bob', '나이': 30, '도시': '부산', 0: 'Bob', '성별': '여자', '취미': '판타지'}

# 메뉴판 만들기

In [58]:
store_name = '바리스타 엘리\'s 카페'
menu_list = ['에스프레소', '아이스아메리카노', '따뜻한라떼']
price_list = [3000, 4000, 5000]

#환영인사
print('*'*40)
print(f'어서오세요 {store_name}에 오신것을 환영합니다')

#메뉴목록 출력
for i in range(len(menu_list)) :
    print(f'{i+1}. {menu_list[i]} {price_list[i]}')

#주문화면
order_num = int(input('주문할 메뉴 번호를 입력하세요 : '))-1
qty = int(input('주문할 수량을 숫자로 입력하세요 : '))
amt = qty * price_list[order_num]

#주문결과 출력
print(f'주문하신 메뉴는 {menu_list[order_num]} 입니다.  결제하실 금액은 {amt} 입니다')

****************************************
어서오세요 바리스타 엘리's 카페에 오신것을 환영합니다
1. 에스프레소 3000
2. 아이스아메리카노 4000
3. 따뜻한라떼 5000

주문할 메뉴 번호를 입력하세요 :  1
주문할 수량을 숫자로 입력하세요 :  3

주문하신 메뉴는 에스프레소 입니다.  결제하실 금액은 9000 입니다

## 딕셔너리 버전

In [64]:

#환영인사
print('*'*40)
print(f'어서오세요 {store_name}에 오신것을 환영합니다')

store_name = '바리스타 엘리\'s 카페'
menu_list = [
    {'name':'에스프레소', 'price':3000}, 
    {'name':'아이스아메리카노', 'price':4000}, 
    {'name':'따뜻한라떼', 'price':5000},
    {'name':'말차프라프치노', 'price':7000},
]
# ['에스프레소', '아이스아메리카노', '따뜻한라떼']
# price_list = [3000, 4000, 5000]

#메뉴목록 출력
for i, menu in enumerate(menu_list) :
    #print(i+1,menu)
    print(f'{i+1}. {menu['name']} {menu['price']}')

#주문화면
order_num = int(input('주문할 메뉴 번호를 입력하세요 : '))-1
qty = int(input('주문할 수량을 숫자로 입력하세요 : '))
amt = qty * menu_list[order_num]['price']
name = menu_list[order_num]['name']

#주문결과 출력
print(f'주문하신 메뉴는 {name} 입니다.  결제하실 금액은 {amt} 입니다')

****************************************
어서오세요 바리스타 엘리's 카페에 오신것을 환영합니다
1. 에스프레소 3000
2. 아이스아메리카노 4000
3. 따뜻한라떼 5000
4. 말차프라프치노 7000

주문할 메뉴 번호를 입력하세요 :  1
주문할 수량을 숫자로 입력하세요 :  3

주문하신 메뉴는 에스프레소 입니다.  결제하실 금액은 9000 입니다

In [72]:
print("오늘 날씨는 맑음 ☀️❤️😀")
print("점심 메뉴는 김밥입니다. 🍙")

오늘 날씨는 맑음 ☀️
점심 메뉴는 김밥입니다. 🍙

# 튜플
리스트랑 비슷, 변경 안되는 특징을 갖는다

In [73]:
a = tuple()
a, type(a)

((), tuple)

In [76]:
b = (1)
b, type(b)

(1, int)

In [77]:
bb = (1, )
bb, type(bb)

((1,), tuple)

In [79]:
c = (1,2,(3,4), '5', [1,2,3])
c

(1, 2, (3, 4), '5', [1, 2, 3])

In [80]:
c[0]

1

In [81]:
c[0]=3 #immutable > TypeError

TypeError: 'tuple' object does not support item assignment

In [82]:
#tuple의 ( ) 괄호는 생략해도 된다.
#쉼표로 요소는 하나 이상이어야 한다.
fruits = '사과','복숭아','딸기'
fruits, type(fruits)

(('사과', '복숭아', '딸기'), tuple)

In [83]:
#패킹, 언패킹

nums = [1,2,3]  
a,b,c = nums  #list unpacking
a,b,c

(1, 2, 3)

In [84]:
a

1

In [86]:
#s = 'hello'
s = 'hi'
a,b = s
a

'h'

In [90]:
s = 'hello'  #packing
a,*b, c = s  #unpacking * - rest
a,b, c

('h', ['e', 'l', 'l'], 'o')

In [91]:
student = ('홍길동', 20, '1학년') #패킹
student

('홍길동', 20, '1학년')

In [92]:
name, age, grade = student #언패킹
f'이름은 {name}이고요, 나이는 {age}이고요, {grade}학년입니다.'

'이름은 홍길동이고요, 나이는 20이고요, 1학년학년입니다.'

In [ ]:
# 미션
x=1
y=2

#x=2, y=1

In [ ]:
#x = 2, y = 1
tmp = x
x = y
y = tmp

In [ ]:
tmp = (y,x)
x,y = tmp

In [ ]:
x, y = y, x #tuple 의 패킹, 언패킹

In [93]:
#함수의 정의
def func_a(a,b,c) :
    print(a,b,c)
    return c, b, a

#함수의 호출
result = func_a(5,4,3)
#함수의 반환값
result[0], result[1]

5 4 3

(3, 4, 5)

In [94]:
a1,b1,c1 = func_a(1,2,3)
a1,b1,c1

1 2 3

(3, 2, 1)

In [ ]:
# tuple 에 값을 추가하려면?
# 형변환 > 리스트

In [95]:
name_tuple = ('가연', '지훈', '지희')
name_tuple

('가연', '지훈', '지희')

In [96]:
name_list = list(name_tuple)
name_list

['가연', '지훈', '지희']

In [97]:
name_list.append('유석')
name_list

['가연', '지훈', '지희', '유석']

In [98]:
name_tuple = tuple(name_list)
name_tuple

('가연', '지훈', '지희', '유석')

In [99]:
dir(name_tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [ ]:
#__add__ +
#__mul__ *

In [100]:
t1 = (1,2,3)
t2 = (4,5,6)
t1+t2

(1, 2, 3, 4, 5, 6)

In [101]:
t3 = t1*2
t3

(1, 2, 3, 1, 2, 3)

In [102]:
t3[0]

1

In [103]:
t3[:3]

(1, 2, 3)

In [ ]:
t3[0]=2 #readonly> TypeError

# 집합

- set(), { }
- 중복이 안된다. 순서도 없다. 키도 없다.
- 속도가 빠르다. 해싱을 하는 자료형 (딕셔너리,집합)

In [105]:
s = set([1,2,3])
s

{1, 2, 3}

In [106]:
s1 = {1,2,3}
s1

{1, 2, 3}

In [107]:
s2 = {1,2,3,1}
s2

{1, 2, 3}

In [122]:
l2 = [1,2,3]
l2 = l2 * 2
l2

[1, 2, 3, 1, 2, 3]

In [109]:
#set으로 중복 제거한다.
s3 = set(l2) 
s3

{1, 2, 3}

In [123]:
l2.append([4,5,6])
l2

[1, 2, 3, 1, 2, 3, [4, 5, 6]]

In [125]:
l2, type(l2)

([1, 2, 3, 1, 2, 3, [4, 5, 6]], list)

In [126]:
#set에는 해싱 가능한 값만 넣을 수 있다.
set(l2)

TypeError: unhashable type: 'list'

In [127]:
hash('hi') #해시코드 > 해싱 가능한 데이터 '문자열'

5549220011565756936

In [128]:
hash(123) # 해싱가능하다 int, float, boolean

123

In [139]:
set(['hi',123]) #해싱으로 바뀐 값을 저장 > 집합 연산

{123, 'hi'}

In [129]:
l1 = [1,2,3]
hash(l1) #unhashable type: 'list'

TypeError: unhashable type: 'list'

In [141]:
set([123,[1,2,3]])

TypeError: unhashable type: 'list'

In [135]:
hash(l1[0])

1

In [130]:
hash((1,2,3))

529344067295497451

In [142]:
set((1,2,3)) #set : 해싱불가능, 요소는 해싱가능해야 한다

{1, 2, 3}

In [138]:
s1 = {1,2,[1,2]}
s1

TypeError: unhashable type: 'list'

# set 집합 연산

- 교집합 &, intersection()
- 합집합 |, union()
- 차집합 -, difference()

In [132]:
s = set([1,2,3,4])
x = {2,3,4}
y = {3,4,5}

In [133]:
#교집합
x & y

{3, 4}

In [134]:
x.intersection(y)

{3, 4}

In [143]:
#합집합
x | y

{2, 3, 4, 5}

In [144]:
x.union(y)

{2, 3, 4, 5}

In [145]:
#차집합
x - y

{2}

In [146]:
x.difference(y)

{2}

In [147]:
dir(x)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']