<a href="https://colab.research.google.com/github/zzhining/python_basic/blob/master/exercise/%ED%95%A8%EC%88%98_%EB%9E%8C%EB%8B%A4_%EB%AC%B8%EC%9E%90%EC%97%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. 두 수를 입력 받아 그 곱을 반환하는 함수를 작성하세요.

In [9]:
#답을 작성하세요.
def multiply_numbers(a, b):
    result = lambda a,b: a*b
    return a*b

In [10]:
#테스트
print(multiply_numbers(3, 5))  #15

15

2. 숫자 리스트를 입력 받아 평균을 반환하는 함수를 작성하세요.

In [23]:
#답을 작성하세요. #람다로 정의
def calc_average(numbers):  
     return (lambda nums: int(sum(nums) / len(nums)) if nums else 0)(numbers)

In [24]:
#테스트
print(calc_average([10, 20, 30, 40, 50])) #30

30

3. 주어진 숫자가 짝수이면 True, 홀수이면 False를 반환하는 함수를 작성하세요.

In [9]:
#답을 작성하세요.
def is_even(n):
    if n%2==0:
        return True
    else:
        return False

In [ ]:
#람다버전

In [10]:
# 테스트
print(is_even(14))  # True
print(is_even(21))  # False

True
False

4. 주어진 리스트의 모든 요소를 문자열로 변환하여 반환하는 함수와, 람다 함수를 작성하세요.

In [32]:
#함수 정의
def to_string_list(lst):
    result = [] #결과 누적
    #lst의 요소를 하니씩 꺼내서 문자열로 변환
    # result에 추가
    for item in lst:
        result.append(str(item))
    return result

In [33]:
# 테스트
print(to_string_list([1, 2, 3, 4, 5]))  # ['1', '2', '3', '4', '5']

['1', '2', '3', '4', '5']

In [34]:
#답을 작성하세요.
to_string_list1 = lambda lst: list(map(str, lst))
to_string_list1

In [35]:
# 테스트
print(to_string_list1([1, 2, 3, 4, 5]))  # ['1', '2', '3', '4', '5']

['1', '2', '3', '4', '5']

5. 두 문자열을 입력받아 합친 문자열을 반환하는 함수와 람다 함수를 작성하세요.

In [51]:
def concat_strings(s1, s2):
    result = s1 + s2
    return result
(lambda s1,s2: s1 + s2)("Hello, ", "World!")

'Hello, World!'

In [52]:
#답을 작성하세요.
concat_strings1= lambda s1,s2: s1 + s2
concat_strings1('가나다','마바사')

'가나다마바사'

In [48]:
# 테스트
print(concat_strings("Hello, ", "World!"))  # "Hello, World!"

Hello, World!

6. 주어진 문자열에서 모든 모음(a,e,i,o,u)을 제거한 문자열을 반환하는 함수를 작성하세요.

In [59]:
#답을 작성하세요.
def remove_vowels(s):
    result = ''
    for ch in s:
        if ch not in 'aeiou':
            result += ch
    return result

In [61]:
def remove_vowels1(s):
    return ''.join([ch for ch in s if ch not in 'aeiou'])

In [63]:
remove_vowels2 = lambda s: ''.join([ch for ch in s if ch not in 'aeiou'])

In [64]:
# 테스트
print(remove_vowels("abcdefghijklmnopqrstuvwxyz"))  # "bcdfghjklmnpqrstvwxyz"

bcdfghjklmnpqrstvwxyz

In [65]:
print(remove_vowels1("abcdefghijklmnopqrstuvwxyz"))

bcdfghjklmnpqrstvwxyz

In [66]:
print(remove_vowels2("abcdefghijklmnopqrstuvwxyz"))

bcdfghjklmnpqrstvwxyz

7. 문자열을 입력 받아, 해당 문자열에서 가장 긴 단어와 길이를 반환하는 함수를 작성하세요.

In [69]:
#답을 작성하세요.
def find_longest_word(s):
    words = s.split()
    longest = words[0]
    max_len =len(longest)

    for w in words[1:]:
        if len(w) > max_len:
            longest =w
            max_len = len(w)
        

    return longest, max_len

In [71]:
def find_longest_word1(s):
    words =s.split()
    longest = max(words,key=len)
    return longest, len(longest)

In [79]:
find_longest_word2 = lambda s: max([(w, len(w)) for w in s.split()],key=lambda x:x[1])

In [70]:
# 테스트
print(find_longest_word("Life is for one generation a good name is forever."))  # "generation", 10

('generation', 10)

In [74]:
print(find_longest_word1("Life is for one generation a good name is forever."))

('generation', 10)

In [80]:
print(find_longest_word2("Life is for one generation a good name is forever."))

('generation', 10)

8. 주어진 문자열에서 숫자와 문자를 분리하는 함수를 작성하세요.

In [90]:
#답을 작성하세요.
def split_numbers_letters(s):
    # 1. 숫자를 담을 리스트, 문자를 담을 리스트를 만든다.
    numbers = []
    letters = []
    for ch in s:
        if ch.isdigit():
            numbers.append(int(ch))
        elif ch.isalpha():
            letters.append(ch)
        
    return numbers, letters

In [94]:
def split_numbers_letters1(s):
    numbers = [int(ch) for ch in s if ch.isdigit()]
    letters = [ch for ch in s if ch.isalpha()]
    return numbers, letters

In [100]:
def split_numbers_letters2(s):
    numbers = list(map(int, filter(lambda ch: ch.isdigit(), s)))
    letters = list(filter(lambda ch:ch.isalpha(), s))
    return numbers, letters

In [91]:
# 테스트
print(split_numbers_letters("a1b2c3d4")) # ["a", "b", "c", "d"], [1, 2, 3, 4]

([1, 2, 3, 4], ['a', 'b', 'c', 'd'])

In [95]:
print(split_numbers_letters1("a1b2c3d4"))

([1, 2, 3, 4], ['a', 'b', 'c', 'd'])

In [101]:
print(split_numbers_letters2("a1b2c3d4"))

([1, 2, 3, 4], ['a', 'b', 'c', 'd'])

9. 주어진 문자열(알파벳)을 입력 받아, 각 알파벳의 종류와 개수를 dict형으로 반환하는 함수를 만드세요.

In [102]:
#답을 작성하세요.
def count_alphabets(s):
    count_dict = {}

    for ch in s :
        if ch in count_dict:
            count_dict[ch] += 1
        else:
            count_dict[ch] = 1
    return count_dict

In [104]:
def count_alphabets1(s):
    # 딕셔너리 컴프리헨션
    return{ch: s.count(ch) for ch in s}

In [103]:
# 테스트
print(count_alphabets("hello"))  # {"h": 1, "e": 1, "l": 2, "o": "1"}

{'h': 1, 'e': 1, 'l': 2, 'o': 1}

In [105]:
print(count_alphabets1("hello"))

{'h': 1, 'e': 1, 'l': 2, 'o': 1}