# 함수
- 인자 = 매개변수, 입력, 파라미터
- 변환값 = 리턴값, 결과값
- 함수이름

- 함수 정의 -> 호출

In [26]:
# defination  - 리턴이 없는 경우
def py_func():
    print("py first func")
    print("hello")
    print("good job")

In [12]:
type(py_func)

function

In [19]:
my_func = py_func()

py first func
hello
good job

In [14]:
type(my_func)

function

In [21]:
print(my_func)

None

In [27]:
# 리턴이 있는 경우
def my_func():
    print("py first func")
    print("hello")
    print("good job")
    return 'hello'

In [23]:
 my_func()

py first func
hello
good job

'hello'

In [24]:
my_func2 =  my_func()

py first func
hello
good job

In [28]:
my_func2

'hello'

# 입력값이 있는 함수

In [35]:
def my_calc(x):
    print(f'{x}를 계산합니다.')

In [37]:
my_calc(2)

2를 계산합니다.

In [48]:
def mycalc1(x,y):
    print(f'{x}와 {y}를 계산합니다.')
    add_result = x + y
    mul_result = x * y
    return add_result, mul_result

In [41]:
mycalc1(3,5)

3와 5를 계산합니다.

(8, 15)

In [42]:
func_result = mycalc1(3,5)

3와 5를 계산합니다.

In [43]:
func_result

(8, 15)

In [47]:
# func_result[0] = 0  -> 함수의 결과값은 변경불가

In [49]:
result1,result2 = mycalc1(3,5)

3와 5를 계산합니다.

In [50]:
result1

8

In [51]:
result2

15

In [52]:
# 리스트 매개변수의 실행
def my_calc3(a,lst1):
    a+=1
    lst1.append(a)
    return a

In [53]:
num =10
list_num = [1,2,'12']
print(f'before: {num},{list_num}')

my_calc3(num,list_num)
print(f'after: {num},{list_num}')

before: 10,[1, 2, '12']
after: 10,[1, 2, '12', 11]

키워드 매개변수: 함수를 호출할 때 인자의 이름을 직접 지정해서 값을 전달하는 방식
매개변수명을 이용한 호출은 매개변수의 순서와 무관하다

In [56]:
# 기본값, 기본인자
def greeting(name, greeting ='hello'):
    print(f'{greeting}, {name}님!')

greeting('Bob', 'hi')

hi, Bob님!

In [57]:
greeting('Bob')

hello, Bob님!

In [59]:
# 가변인자
def sum_all(*args):
    return sum(args)

In [60]:
print(sum_all(1, 2, 3, 4, 5))  # 15

15

In [62]:
def sum_all(args1,args2,*args):
    print(args)
    result = args1 + args2 + sum(args)
    return result

In [63]:
sum_all(1, 2, 3, 4, 5)

(3, 4, 5)

15

In [64]:
def print_info(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

In [65]:
print_info(name="홍길동", age=25, city="서울")

name: 홍길동
age: 25
city: 서울

# 요일 구하는 함수 정의
- 입력: year, month, day
- 출력: '월요일'
- 함수명: 요일찾기()

In [75]:
# 날짜 입력 받기
year = int(input("연도를 입력하세요 (예: 2025): "))
month = int(input("월을 입력하세요 (1~12): "))
day = int(input("일을 입력하세요 (1~31): "))

total_days = 0

# 1. 이전 연도까지의 총 일수 계산
for i in range(1, year):
    if i % 400 == 0:
        total_days += 366
    elif i % 100 == 0:
        total_days += 365
    elif i % 4 == 0:
        total_days += 366
    else:
        total_days += 365

# 2. 월별 일수 더하기
month_days = [0, 31, 28, 31, 30, 31, 30,
              31, 31, 30, 31, 30, 31]
for m in range(1, month):
    total_days += month_days[m]

# 3. 윤년이면 2월을 29일로 반영 (3월 이후인 경우에만)
if month >= 3:
    if year % 400 == 0:
        total_days += 1
    elif year % 100 == 0:
        pass
    elif year % 4 == 0:
        total_days += 1

# 4. 일수 더하기
total_days += day

# 5. 요일 판별 (1년 1월 1일이 월요일이라고 가정)
remain_days = total_days % 7

# 6. 요일 출력
weekdays = ['일요일', '월요일', '화요일', '수요일',
            '목요일', '금요일', '토요일']
print(f"{year}년 {month}월 {day}일은 {weekdays[remain_days]}입니다.")

연도를 입력하세요 (예: 2025):  2025
월을 입력하세요 (1~12):  6
일을 입력하세요 (1~31):  5

2025년 6월 5일은 목요일입니다.

In [92]:
def 윤년체크(year):
    #윤년: 400으로 나누어 나머지가 0, 4로 나누어 나머지가 0
    #평년: 100으로 나누어 나머지가 0
   
    if year%400 == 0:
        return True
    elif year%100 == 0:
        return False
    elif year%4 == 0:
        return True
    else:
        return False

def get_total_days(year, month, day):
    total_days = 0
    # 1. 연도별 총 일수 계산 (1년부터 입력년도 - 1년까지)
    for i in range(1, year):
        
    # 윤년 조건: 4의 배수이면서 100의 배수가 아니거나, 400의 배수
        if i % 400 == 0:
            total_days += 366
        elif i % 100 == 0:
            total_days += 365
        elif i % 4 == 0:
            total_days += 366
        else:
            total_days += 365

    # 2. 입력한 달 이전까지의 월별 일수 합산
    month_days = [0, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
    for m in range(1, month):
        total_days += month_days[m]

    # 3. 현재 해가 윤년이고, 3월 이상이면 하루 추가
    if month>=3 :
        if 윤년체크(year):
            total_days += 1

    # 4. 현재 달의 날짜 추가
    total_days += day
    return total_days



def get_weekday(year, month, day):
    """입력된 날짜의 요일을 반환하는 함수"""
    total_days = get_total_days(year, month, day)
    weekdays = ['일요일', '월요일', '화요일', '수요일', '목요일', '금요일', '토요일']
    remain_days = total_days % 7    #요일 계산 (1일이 일요일 기준)
    return weekdays[remain_days]


print(get_weekday(2025, 6, 5))

목요일
입력하신 날짜는 ['일요일', '월요일', '화요일', '수요일', '목요일', '금요일', '토요일']입니다.

In [95]:
year=2025
month=6
day=5
day_name = get_weekday(year, month, day)
print(f'입력하신 날짜는 {day_name}입니다.')

입력하신 날짜는 목요일입니다.

# 성적처리 시스템
- calc_total()

- calc_average()

- calc__order()

- print_student(students) : 전학생의 성적을 출력

- print_class() : 반평균, 각 과목별 평균 출력

In [98]:
students = [
               {'num':'1','name':'김철수','kor':90,'eng':80,'math':85,'total':0,'avg':0.0,'order':0 },
               {'num':'2','name':'박제동','kor':90,'eng':85,'math':90,'total':0,'avg':0.0,'order':0 },
               {'num':'3','name':'홍길동','kor':80,'eng':80,'math':80,'total':0,'avg':0.0,'order':0 }
           ]

In [168]:
def calc_total(stus) :
    total = sum(student['total'] for student in stus)

In [169]:
calc_total(students)
students

[{'num': '1',
  'name': '김철수',
  'kor': 90,
  'eng': 80,
  'math': 85,
  'total': 255,
  'avg': 85.0,
  'order': 2},
 {'num': '2',
  'name': '박제동',
  'kor': 90,
  'eng': 85,
  'math': 90,
  'total': 265,
  'avg': 88.33333333333333,
  'order': 1},
 {'num': '3',
  'name': '홍길동',
  'kor': 80,
  'eng': 80,
  'math': 80,
  'total': 240,
  'avg': 80.0,
  'order': 3}]

In [180]:
def calc_avg(stus):
    for s in stus:
        s['avg'] = (s['kor'] +  s['eng'] +  s['math']) / len(stus)

In [128]:
def calc_order(student):
    for s in student:
        rank =1
        for other in student:
            if s['total'] < other['total']:
                rank += 1
        s['order'] = rank

In [129]:
calc_order(students)
students

[{'num': '1',
  'name': '김철수',
  'kor': 90,
  'eng': 80,
  'math': 85,
  'total': 255,
  'avg': 85.0,
  'order': 2},
 {'num': '2',
  'name': '박제동',
  'kor': 90,
  'eng': 85,
  'math': 90,
  'total': 265,
  'avg': 88.33333333333333,
  'order': 1},
 {'num': '3',
  'name': '홍길동',
  'kor': 80,
  'eng': 80,
  'math': 80,
  'total': 240,
  'avg': 80.0,
  'order': 3}]

In [159]:
def print_student(students):
    print("번호 이름 국어 영어 수학 총점  평균  석차")

    for s in students:
        print(f"{s['num']}   {s['name']} {s['kor']}  {s['eng']}   {s['math']}  {s['total']}  {s['avg']:>5.2f} {s['order']}")


print_student(students)

번호 이름 국어 영어 수학 총점  평균  석차
1   김철수 90  80   85  255  85.00 2
2   박제동 90  85   90  265  88.33 1
3   홍길동 80  80   80  240  80.00 3

In [162]:
def print_student(students):
    print("번호  이름     국어  영어  수학  총점  평균   석차")
    print("-" * 50)
    for s in students:
        print(f"{s['num']:>2}   {s['name']:<5}  {s['kor']:>3}  {s['eng']:>3}  {s['math']:>3}  {s['total']:>3}  {s['avg']:>5.2f}   {s['order']:>2}")


print_student(students)

번호  이름     국어  영어  수학  총점  평균   석차
--------------------------------------------------
 1   김철수     90   80   85  255  85.00    2
 2   박제동     90   85   90  265  88.33    1
 3   홍길동     80   80   80  240  80.00    3