# 초보자를 위한 파이썬 300제 연습문제 (11~20)

In [50]:
# 11.삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.

삼성전자 = 50000
총평가금액 = 삼성전자 *10
print("총평가금액: ",총평가금액)

총평가금액:  500000

In [53]:
# 12.다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.

시가총액 = 298000000000000
현재가 = 50000
PER = 15.79

print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [54]:
# 13.문자열 출력
s = "hello"
t = "python"

print(s+"!",t)

hello! python

In [57]:
# 15.type 함수

a =128
print (type(a))

a=132
print (type(a))

<class 'int'>
<class 'int'>

In [61]:
# 16.문자열 '720'를 정수형으로 변환해보세요.

num_str = "720"
num_int =int(num_str)
print(num_int, type(num_int))

720 <class 'int'>

In [62]:
# 17. 정수 100을 문자열 '100'으로 변환해보세요.

num =100
num_str = str(num)
print(num_str, type(num_str))

100 <class 'str'>

In [64]:
# 18.문자열 "15.79"를 실수(float) 타입으로 변환해보세요.

a =15.79
a = float(a)
print(a, type(a))

15.79 <class 'float'>

In [67]:
# 19. 문자열을 정수로 변환

year ="2020"
year = int(year)
print(year-1,year-2,year-3)

2019 2018 2017

In [73]:
# 20. 에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다.
# 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)
월금액 = 48584
개월수 = 36
result = 월금액*개월수
print("총 금액: ", result)

총 금액:  1749024

In [ ]:
-기본 자료형: 숫자형, 문자열형 str, 부울형
-복합 자료형: 리스트 셋, 튜플, 딕셔너리

기본 자료형        | 설명                               | 예시                        |
|---------------|------------------------------------|-----------------------------|
| 정수형 (`int`) | 정수를 저장하는 자료형              | `1`, `-5`, `100`            |
| 실수형 (`float`) | 소수점이 있는 숫자를 저장하는 자료형 | `3.14`, `-0.001`, `2.0`     |
| 문자열 (`str`) | 텍스트를 저장하는 자료형             | `"Hello"`, `'파이썬'`       |
| 논리형 (`bool`) | 참/거짓 값을 저장하는 자료형         | `True`, `False`             |

| 복합 자료형         | 설명                                      | 예시                                      |
|----------------|-------------------------------------------|-------------------------------------------|
| 리스트 (`list`) | 여러 항목을 순서대로 저장하는 자료형         | `[1, 2, 3]`, `['a', 'b']`                  |
| 튜플 (`tuple`)  | 변경 불가능한 순서가 있는 자료형             | `(1, 2)`, `('x', 'y')`                     |
| 딕셔너리 (`dict`)| 키와 값의 쌍으로 데이터를 저장하는 자료형   | `{'name': '홍길동', 'age': 20}`            |
| 집합 (`set`)    | 중복되지 않는 항목들의 모음                  | `{1, 2, 3}, {'apple', 'banana'}`            |

In [116]:
# 정수형 int
10,type(10)

(10, int)

In [75]:
age = 10
type(age)

int

In [ ]:
1. 진법: 10진수, 2진수, 8진수, 16진수
2. 입력하는 방법은 다르지만, print()결과는 동일하다.

In [79]:
a = 10       # 2진수: bin()    # 8진수: oct()    # 16진수: hex()
b = 0b1010
a,b

(10, 10)

In [81]:
# 실수형 float
a = 3.14
a,type(a)

(3.14, float)

In [ ]:
지수의 표기

숫자e2 ->10^2의 곱 = 10**3
숫자e-2 -> 10^-2의 곱 = 10**-1

In [89]:
fa = 10e2
fa,10**3

(1000.0, 1000)

In [88]:
fb = 10e-2
fb, 10**-1

(0.1, 0.1)

In [ ]:
# 논리형 bool
BOOLEM값 = True False

In [99]:
ba = True
type(ba)

bool

In [100]:
ba == True

True

In [102]:
# 사칙연산 + - * / // % **
a = 2
b = 3

In [103]:
a+b
a-b
a*b
a/b, a//b, a%b, a**b

(0.6666666666666666, 0, 2, 8)

In [104]:
# 비교연산자
1+2 ==4

False

In [105]:
1+2 <4

True

In [106]:
1+2 !=2

True

In [107]:
1+2 <=3

True

In [109]:
# 비교연산자와 논리연산자의 결합
10%2 ==0 and 12%3 == 0

True

In [111]:
a ='1234'
b = '5678'
a,b,id(a),id(b)

('1234', '5678', 2300887734608, 2300929599424)

In [112]:
id(a)==id(b)

False

In [113]:
# 대입 연산자
a = 10
b = a+1
a,b

(10, 11)

In [142]:
a = 20
a += 1    # a = a + 1
a

21

In [143]:
a -= 1    # a = a - 1
a

20

In [145]:
a =3
b =2
a += 2 + b
a

7

In [146]:
a = 'zxc'
b = 'asd'
a+b

'zxcasd'

In [148]:
a * 3

'zxczxczxc'

In [149]:
c = "Kim's family."
c

"Kim's family."

In [150]:
a = 'i'
b = 'i'
a ==b

True

In [151]:
# 문자열은 리스트, 열거형
a = '2001asdcxz' # 10개의 글자의 목록
a[0] # 숫자 자리수 -> 인덱스

'2'

In [156]:
a[3] #인덱싱

'1'

In [157]:
a[:3] # 영역을 지정할 때 :(콜론),  슬라이싱

'200'

In [159]:
a = '2001asdcxz'
a[7:9]

'cx'

In [161]:
a[::-1] # 역순으로 전체 뒤집기

'zxcdsa1002'

In [162]:
a[::2] # 전체 중에서 2칸씩 건너뛰기

'20adx'

In [163]:
a[1::2] # 	1번 인덱스부터 2칸씩

'01scz'

In [167]:
s ='abc'
a =s
a is s

True

In [168]:
s ='abc'
b =s[:]
a is b

True

In [171]:
s1 = '1'*1000
s1

'1111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111'

In [172]:
b = s1[:]
s1 is b

True

In [9]:
text ='파이썬'
print(text)
print(ord('파'))

파이썬
54028

In [10]:
# 인코딩s
enc_text = text.encode('utf-8')
enc_text

b'\xed\x8c\x8c\xec\x9d\xb4\xec\x8d\xac'

In [14]:
dec_text = enc_text.decode('utf-8')
dec_text

'파이썬'

In [15]:
e ='1'
e == '1'

True

''' docstring \n
start \n
end \n

In [20]:
doc_string =''' docstring \n
start \n
end \n
'''
print(doc_string)

 docstring

start

end

In [21]:
doc_string

' docstring \n\nstart \n\nend \n\n'

In [22]:
text

'파이썬'

In [23]:
dir(text)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [30]:
text.count('t')

0

In [32]:
text.__add__('4')

'파이썬4'

In [34]:
text + '4'

'파이썬4'

In [43]:
print('hello\nworld\'s') # excape 문자는 특수문자를 그냥 텍스트로 인식하게 된다.

hello
world's

raw-string  : 모두다 문자열이다   r'str?\'
f-string   : 형식코드가 내포된 문자열 f'str(text)'

In [52]:
str_1 = '12\\4' # 12\x04 \는
str_1

'12\\4'

In [53]:
raw_str = r'12\4'
raw_str

'12\\4'

In [55]:
raw_str_1 = r'Hello\nWorld'
print(raw_str_1)

Hello\nWorld

f' 문자열이에요 {변수} '

In [62]:
name = 'ylee'
age = 25
print('제 이름은', name, '내 나이는 ',age)

제 이름은 ylee 내 나이는  25

In [67]:
f_str_1 = f'제 이름은 {name} 내 나이는 {age} 입니다.'
f_str_1

'제 이름은 ylee 내 나이는 25 입니다.'

In [70]:
name = input("이름을 입력하세요.")
age = input("나이를 입력하세요.")
f'제 이름은 {name} 내 나이는 {age} 입니다.'

이름을 입력하세요. 이정석
나이를 입력하세요. 26

'제 이름은 이정석 내 나이는 26 입니다.'

In [ ]:
문자열, format()

문자열에 위치 인덱스를 사용해 포맷한 값을 지정할 수있다.

In [71]:
f_str_1 = f'제 이름은 {name} 내 나이는 {age} 입니다.'
f_str_1

'제 이름은 이정석 내 나이는 26 입니다.'

In [79]:
# dir(f_str_1)
format_str = '{0:.4f} {1:s} are worth USS {2}' # template
format_str.format(99.99,'dollar', 100)

'99.9900 dollar are worth USS 100'

In [83]:
menu = input('주문할 메뉴를 입력하세요 ')
price = input('한 개 가격이 얼마인가요? ')
count = input('몇 개나 주문하세요? ')
total = int(price) * int(count)
msg = '{} 메뉴의 {}개 가격은 총 {:,}입니다.' # 15,000
print(msg.format(menu, count, total))

주문할 메뉴를 입력하세요  밥
한 개 가격이 얼마인가요?  1000
몇 개나 주문하세요?  3

밥 메뉴의 3개 가격은 총 3,000입니다.

In [92]:
items = [
    {"name": "아메리카노", "price": 3000, "qty": 2},
    {"name": "카페라떼", "price": 4000, "qty": 1},
    {"name": "샌드위치", "price": 5500, "qty": 3}
]

In [120]:
header_str = '{0:10}{1:10}{2:10}{3:10}' # 인덱스: 데이터 결과
print(header_str.format('상품명', '가격', '수량', '총액'))
print('-'*50)
data_str = '{0:10}{1:10,}원{2:10}개{3:10,}원' # 인덱스: 데이터 결과

for item in items :
    item_name = item['name']
    item_price = item['price']
    item_qty = item['qty']
    total_price = item_price * item_qty
    print(data_str.format(item_name, item_price, item_qty, total_price))

상품명       가격        수량        총액
--------------------------------------------------
아메리카노          3,000원         2개     6,000원
카페라떼           4,000원         1개     4,000원
샌드위치           5,500원         3개    16,500원

In [58]:
b = 2
c = '3'
# b + c # TypeError
b + int(c)

5

In [61]:
c = '3a'
# b + int(c) # ValueError
b + int(c[:1])

5

In [6]:
ra = range(2,20,2)

In [7]:
num_list = list(ra) # 생성자
num_list

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [11]:
num_list[-1]

18

In [9]:
ra.__len__()

9

In [12]:
num_list.count(2)

1

method 와 function
1. method : 객체의 한해서 동작하는 함수 -> 객체명.함수()
2. function : 함수(매개변수) -> 매개변수로 동작하는 함수

dir() -> function
list_obj.len() -> method

In [43]:
str_1 = 'hello'
# str_1[0] = 'H' # TypeError -> str Immutable(객체의 불변성)

In [44]:
str_2 = list(str_1)
str_2[0] = 'H'
str_2

['H', 'e', 'l', 'l', 'o']

In [45]:
''.join(str_2)

'Hello'

In [46]:
# 리스트의 생성
a = list()
a = []
b = [1,2,3,4,5]
c = ['aaa','bbb','ccc']
d =[1,2,'aaa','bbb']
e = [c,d]
e

[['aaa', 'bbb', 'ccc'], [1, 2, 'aaa', 'bbb']]

In [59]:
e[1][3]

'bbb'

In [60]:
score = [[1,2],[3,4]]
score

[[1, 2], [3, 4]]

In [ ]:
복사
1. 얕은 복사 shallow copy
2. 깊은 복사 deep copy

In [65]:
new_score = score[:]    # 얕은카피
new_score[0][0] = 100
new_score

[[100, 2], [3, 4]]

In [66]:
score

[[100, 2], [3, 4]]

In [75]:
import copy
copied = copy.copy(score)
copied [0][1] = 99
copied

[[100, 99], [3, 4]]

In [76]:
score

[[100, 99], [3, 4]]

In [79]:
deepcopied = copy.deepcopy(score)
deepcopied[1][0] = 88
deepcopied

[[100, 99], [88, 4]]

In [80]:
score

[[100, 99], [3, 4]]

In [106]:
lunch1 = ['해물라면', '샐러드', '떡볶이']
lunch2 = ['오므라이스', '볶음밥', '떡볶이','제육볶음','주먹밥']
lunch1 + lunch2

['해물라면', '샐러드', '떡볶이', '오므라이스', '볶음밥', '떡볶이', '제육볶음', '주먹밥']

In [99]:
lunch1 *2

['해물라면', '샐러드', '떡볶이', '해물라면', '샐러드', '떡볶이']

In [100]:
del lunch1[0]
lunch1

['샐러드', '떡볶이']

In [105]:
# lunch1과 lunch2를 합하고 '떡볶이'를 삭제하시오.
lunch3 = lunch1 + lunch2
lunch3
del lunch3[1]
lunch3

['샐러드', '오므라이스', '볶음밥', '떡볶이', '제육볶음', '주먹밥']

In [102]:
'떡볶이' in lunch3

True

In [147]:
# 간식박스 관리 프로그램
snack_box = ['초코파이']
new_snack = input("먹고싶은 간식을 추가하세요. 단, 쉼표(,)로 연결하세요").split(',')
snack_box += new_snack
snack_box

먹고싶은 간식을 추가하세요. 단, 쉼표(,)로 연결하세요 홈런볼,사이다

['초코파이', '홈런볼', '사이다']

In [148]:
# 간식박스 관리 프로그램 2
qty = int(input("간식박스 몇 세트로 포장할까요? (예: 2 -> 2box)"))
snack_box *= qty
snack_box

간식박스 몇 세트로 포장할까요? (예: 2 -> 2box) 2

['초코파이', '홈런볼', '사이다', '초코파이', '홈런볼', '사이다']

In [149]:
print(f'주문하신 간식상자는 {snack_box[0]},{snack_box[1]},{snack_box[2]}) 등입니다. 확인해주세요.')

주문하신 간식상자는 초코파이,홈런볼,사이다) 등입니다. 확인해주세요.

In [150]:
# 간식박스 관리 프로그램 3
msg =f' 혹시 빼고싶은 간식이 있으면 번호를 입력하세요 (0 ~ (len(snack_box)-1)'
snack_no =int(input(msg)) -1

 혹시 빼고싶은 간식이 있으면 번호를 입력하세요 (0 ~ (len(snack_box)-1) 2

In [151]:
del snack_box[snack_no]

In [152]:
snack_box

['초코파이', '사이다', '초코파이', '홈런볼', '사이다']

In [153]:
snack_search = input ("찾고 싶은 간식이름을 입력하세요: ")

찾고 싶은 간식이름을 입력하세요:  홈런볼

In [154]:
if snack_search in snack_box:
    print("있어요")
else:
    print("없어요")

있어요

In [157]:
# 간식박스 관리 프로그램 5
print("주문하신 간식박스는 위에서부터 다음과 같습니다.")
print(f' {snack_box[::-1]}, 총{len(snack_box)}개 입니다.')

주문하신 간식박스는 위에서부터 다음과 같습니다.
 ['사이다', '홈런볼', '초코파이', '사이다', '초코파이'], 총5개 입니다.

In [ ]:
# 연산자

- 비식별 연산자
1. 수치연산: 사칙연산
    add() -> 특정메소드를 정의하고 객체에서 사용할 수 있다.
    숫자일 때는 기본연산
    형변환이 자동으로 일어난다. int + float -> float, int

2. 대입연산
3. 비교연산
4. 물리연산

- 식별 연산자

In [44]:
lunch1 =['주먹밥','치킨','칼국수']
lunch2 =['주먹밥','치킨','칼국수']
lunch1  == lunch2

True

In [45]:
id(lunch1) == id(lunch2)

False

In [46]:
lunch1  is lunch2

False

In [1]:
students = [
               {'num':'1','name':'김철수','kor':90,'eng':80,'math':85,'total':0,'avg':0.0,'order':0 },
               {'num':'2','name':'박제동','kor':90,'eng':85,'math':90,'total':0,'avg':0.0,'order':0 },
               {'num':'3','name':'홍길동','kor':80,'eng':80,'math':80,'total':0,'avg':0.0,'order':0 }
           ]

In [3]:
students[0]['total'] = students[0]['kor'] + students[0]['eng'] + students[0]['math']

In [4]:
students[0]['total']

255

In [10]:
students[1]['total'] = students[1]['kor'] + students[1]['eng'] + students[1]['math']
students[2]['total'] = students[2]['kor'] + students[2]['eng'] + students[2]['math']

In [11]:

students[1]['total']

265

In [12]:
students[2]['total']

240

In [15]:
students = [
               {'num':'1','name':'김철수','kor':90,'eng':80,'math':85,'total':0,'avg':0.0,'order':0 },
               {'num':'2','name':'박제동','kor':90,'eng':85,'math':90,'total':0,'avg':0.0,'order':0 },
               {'num':'3','name':'홍길동','kor':80,'eng':80,'math':80,'total':0,'avg':0.0,'order':0 }
           ]

In [37]:
for student in students :    # 0,1,2
    student['total'] = student['kor'] + student['eng'] + student['math']
    student['avg'] = student['total'] / 3
    print(student['total'])
    print(student['avg'])

255
85.0
265
88.33333333333333
240
80.0

In [40]:
 print(students[0])
 print(students[1])
 print(students[2])

{'num': '1', 'name': '김철수', 'kor': 90, 'eng': 80, 'math': 85, 'total': 255, 'avg': 85.0, 'order': 0}
{'num': '2', 'name': '박제동', 'kor': 90, 'eng': 85, 'math': 90, 'total': 265, 'avg': 88.33333333333333, 'order': 0}
{'num': '3', 'name': '홍길동', 'kor': 80, 'eng': 80, 'math': 80, 'total': 240, 'avg': 80.0, 'order': 0}

In [41]:
# students order
for student in students :   # print(students[0])
    rank = 1
    for other in students : 
        if other['total'] > student['total'] :
            rank += 1
    student['order'] = rank
    print(student['name'],student['order'])

김철수 2
박제동 1
홍길동 3

In [42]:
for student in students :
    print(student['name'],student['order'],student['total'],student['avg'])

김철수 2 255 85.0
박제동 1 265 88.33333333333333
홍길동 3 240 80.0

# 초보자를 위한 파이썬 300제 연습문제 (21~30)

In [53]:
# 21. letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.

letters = 'python'
print(letters[0], letters[2])

p t

In [61]:
# 22. 자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.

license_plate = "24가 2210"
print(license_plate[4:]) # print(license_plate[-4:])

2210

In [64]:
# 23. 아래의 문자열에서 '홀' 만 출력하세요.
string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

In [67]:
# 24. 문자열을 거꾸로 뒤집어 출력하세요.
string = "PYTHON"
print(string[::-1])

NOHTYP

In [81]:
# 25. 아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.
phone_number = "010-1111-2222"
phone_number1 = phone_number.replace("-", " ") # - 와 " " 공백을 교체
print(phone_number1)

010 1111 2222

In [87]:
# 26. 25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요.
# 실행 예
# 01011112222

phone_number2 = phone_number1.replace(" ", "") # " "(공백) 과 ""(공백없음)을 교체
print(phone_number2)

01011112222

In [90]:
# 27. url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.
url = "http://sharebook.kr"
# 실행 예: kr 
url_split = url.split('.')
print(url_split[1])

kr

In [2]:
# 28. 아래 코드의 실행 결과를 예상해보세요.
# lang = 'python'
# lang[0] = 'P'
# print(lang)
# 문자열은 immutable -> 문자열은 수정할 수 없다.

In [5]:
# 29. 아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.
string = 'abcdfe2a354a32a'
string = string.replace('a','A')
print(string)

Abcdfe2A354A32A

In [7]:
# 30. 아래 코드의 실행 결과를 예상해보세요.
string = 'abcd'
string.replace('b', 'B')
print(string)
# aBcd를 리턴 하고 원본 유지 
# 리턴값을 받을 변수가 없음 ex) string = string.replace('b', 'B')
# 원본 값 출력
# abcd

abcd

#  초보자를 위한 파이썬 300제 연습문제 (31~40)

In [9]:
# 31. 문자열 합치기 
# 아래 코드의 실행 결과를 예상해보세요.
a = "3"
b = "4"
print(a + b)
# 문자열의 더하기는 문자열의 연결 -> 34

34

In [12]:
# 32. 문자열 곱하기
# 아래 코드의 실행 결과를 예상해보세요.
print("Hi" * 3)
# HiHiHI

HiHiHi

In [13]:
# 33. 문자열 곱하기
# 화면에 '-'를 80개 출력하세요.
print('-'*80)

--------------------------------------------------------------------------------

In [2]:
# 34. 문자열 곱하기
# 변수에 다음과 같은 문자열이 바인딩되어 있습니다.
# 변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력해보세요.
t1 = 'python'
t2 = 'java'
# 실행 예: python java python java python java python java
print((t1 + ' '+ t2 + ' ')*4)

python java python java python java python java

In [5]:
# 35. 변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
# 이름: 김민수 나이: 10
# 이름: 이철희 나이: 13
print("이름: %s 나이: %d" %(name1, age1))
print("이름: %s 나이: %d" %(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [8]:
# 36. 문자열의 format( ) 메서드를 사용해서 035번 문제를 다시 풀어보세요.
print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [10]:
# 37. 파이썬 3.6부터 지원하는 f-string을 사용해서 035번 문제를 다시 풀어보세요.
print(f'이름: {name1} 나이: {age1}')
print(f'이름: {name2} 나이: {age2}')

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [16]:
# 38. 삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.
상장주식수 = "5,969,782,550"
컴마제거 = 상장주식수.replace(',', '')
정수변환 = int(컴마제거)
정수변환, type(정수변환)

(5969782550, int)

In [17]:
# 39. 다음과 같은 문자열에서 '2020/03'만 출력하세요.
분기 = "2020/03(E) (IFRS연결)"
분기[:7]

'2020/03'

In [21]:
# 40. 문자열의 좌우의 공백이 있을 때 이를 제거해보세요.
data = "   삼성전자    "
data1 = data.strip()
data1

'삼성전자'

# 초보자를 위한 파이썬 300제 연습문제 (41~50)

In [23]:
# 41. 다음과 같은 문자열이 있을 때 이를 대문자 BTC_KRW로 변경하세요.
ticker = "btc_krw"
ticker_upper = ticker.upper()
ticker_upper

'BTC_KRW'

In [27]:
# 42. 다음과 같은 문자열이 있을 때 이를 소문자 btc_krw로 변경하세요.
ticker = "BTC_KRW"
ticer_lower = ticker.lower()
ticer_lower

'btc_krw'

In [34]:
# 43. 문자열 'hello'가 있을 때 이를 'Hello'로 변경해보세요.
a = "hello"
a = a.capitalize()
a

'Hello'

In [39]:
# 44. 파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx'로 끝나는지 확인해보세요.
file_name = "보고서.xlsx"
file_name.endswith('.xlsx')

True

In [44]:
# 45. 파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx' 또는 'xls'로 끝나는지 확인해보세요.
file_name = "보고서.xlsx"
file_name.endswith(('.xlsx','.xls'))

True

In [47]:
# 46. 파일 이름이 문자열로 저장되어 있을 때 startswith 메서드를 사용해서 파일 이름이 '2020'로 시작하는지 확인해보세요.
file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

True

In [52]:
# 47. 다음과 같은 문자열이 있을 때 공백을 기준으로 문자열을 나눠보세요.
a = "hello world"
a.split()

['hello', 'world']

In [53]:
# 48. 다음과 같이 문자열이 있을 때 btc와 krw로 나눠보세요.
ticker = "btc_krw"
ticker.split('_')

['btc', 'krw']

In [54]:
# 49. 다음과 같이 날짜를 표현하는 문자열이 있을 때 연도, 월, 일로 나눠보세요.
date = "2020-05-01"
date.split('-')

['2020', '05', '01']

In [57]:
# 50. 문자열의 오른쪽에 공백이 있을 때 이를 제거해보세요.
data = "039490     "
data= data.rstrip()
data

'039490'

# 초보자를 위한 파이썬 300제 연습문제 (51~60)

In [64]:
# 51. 2016년 11월 영화 예매 순위 기준 top3는 다음과 같습니다.
#영화 제목을 movie_rank 이름의 리스트에 저장해보세요. (순위 정보는 저장하지 않습니다.)
#순위	영화
#1	닥터 스트레인지
#2	스플릿
#3	럭키
movie_rank =['닥터 스트레인지', '스플릿', '럭키']
movie_rank

['닥터 스트레인지', '스플릿', '럭키']

In [65]:
# 52. 051의 movie_rank 리스트에 "배트맨"을 추가하라.
movie_rank.append('베트맨')
movie_rank

['닥터 스트레인지', '스플릿', '럭키', '베트맨']

In [66]:
# 31. movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 바인딩되어 있다.
# "슈퍼맨"을 "닥터 스트레인지"와 "스플릿" 사이에 추가하라.
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1,'슈퍼맨')
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [67]:
# 54. movie_rank 리스트에서 '럭키'를 삭제하라.
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [ ]:
# 55.

In [ ]:
# 56.

In [ ]:
# 57.

In [ ]:
# 58.

In [ ]:
# 59.

In [ ]:
# 60.