# 들어가기: 주석

In [2]:
print("Hello, Jupyter!")

Hello, Jupyter!

In [2]:
age =input
age

In [3]:
#이 코드는 사용자의 나이를 입력받아 출력하는 코드이다.
age = input("나이를 입력하세요: ")
print("당신의 나이는", age, "세입니다.")

나이를 입력하세요:  26

당신의 나이는 26 세입니다.

In [4]:
# 변수 선언
name = "Alice"
# 나이 입력받기
age = int(input("나이를 입력하세요: "))
# 결과 출력
print(f"이름: {name}, 나이: {age}")

나이를 입력하세요:  26

이름: Alice, 나이: 26

In [14]:
def calculate_sum(a,b):
    result = a+b
    return result
print(calculate_sum(3,4))

7

In [ ]:
# 상수
MAX_CNT = 3

# 변수
val_i = 1
_val, __val

# Function
def f_a():
    return

# Class
Car, SportCar, Student

# 표준 입력과 표준 출력

In [17]:
12345
10
#ipython 라이브러리 기본기능
# print(12345) 표준출력 기능을 내장하고 있다.

10

In [20]:
print(12345)
10

12345

10

In [21]:
"12345"

'12345'

In [22]:
type('12345')

str

In [23]:
type(12345)

int

In [24]:
12345+10

12355

In [83]:
# '12345'+10    # typeerror

In [27]:
type("12345")

str

In [30]:
"12345"*3

'123451234512345'

In [32]:
name = input("당신의 이름을 입력하세요: ")
print("입력한 이름:",name)

당신의 이름을 입력하세요:  이정석

입력한 이름: 이정석

In [33]:
age = input ("당신의 나이을 입력하세요: ")
print("입력한 나이:",age)

당신의 나이을 입력하세요:  26

입력한 나이: 26

In [35]:
# 입력받은 name과 age 출력
name, age

('이정석', '26')

In [39]:
print("나는 "+name+"이고 나이는 "+age+ "살 입니다.")

나는 이정석이고 나이는 26살 입니다.

In [43]:
age = int(age)
age+10

36

# 변수

변수는 type safe : 변수를 선언할 때 타입(유형)을 지정하지 않아도 되는 특성
변수명 =값

In [ ]:
## 변수의 명령 규칙
1. 문자, 숫자, 밑줄(_언더바)을 가지고 만든다.
2. 숫자로 시작하면 X
3. 대소문자를 구분한다.
4. 예약어, 특수기호 공백 사용 X

In [81]:
# False = 10    # SyntaxError
false =10

In [65]:
x =10
y ='hello'
z = 3.141592
x,y,z

(10, 'hello', 3.141592)

In [69]:
type(x)
type(y)
type(z)

float

In [72]:
print(type(x),type(y),type(z))

<class 'int'> <class 'str'> <class 'float'>

In [74]:
a,b,c =10,20,30
a,b,c

(10, 20, 30)

In [79]:
a=10;b=20;c=30;
a,b,c

(10, 20, 30)

In [80]:
a=b=c=40
a,b,c

(40, 40, 40)

In [85]:
d = True # bool형
e = None #type이 없음 NoneType
d,e

(True, None)

In [90]:
a = 10
b =a
print(a,b)
id(a),id(b)

10 10

(140727617661656, 140727617661656)

In [88]:
a=20
print(a,b)

20 10

In [89]:
id(a),id(b)

(140727617661976, 140727617661656)

In [3]:
a = 10
b =10
print(a,b)
id(a),id(b)   # 정수 캐싱(-5부터 256까지의 정수는 미리 만들어서 재사용)

10 10

(140727617661656, 140727617661656)

In [ ]:
# 의미 부여 하기 어려운 변수명
x =100
y =100

# 의미 있는 변수명
age =20
name = '이정석'
user_name = 'Alic'
admin_name = 'Bob'

# 대문자 Upper-case 상수에 사용
PI =3.141592
MIN_VALUE = 0    #최소값
MAX_VALUE = 100    # 최대값

In [ ]:
# NAME_SPACE

변수가 최초로 ㅡ정의된 영역에 따라 유효범위가 결정됩니다.

-지역변수
-전역변수
-정적변수

In [7]:
# 지역변수

def local_example():
    local_var = 100
    print("여기는 함수의 영역입니다.", local_var)

# local_var    # NameError: name 'local_var' is not defined

local_example()

여기는 함수의 영역입니다. 100

In [14]:
# 전역변수

global_var = '나는 전역변수야'
print(global_var)

def global_example():
    local_var =100
    print(global_var,local_var)
global_example()

나는 전역변수야
나는 전역변수야 100

In [13]:
var_test = '나는 전역변수야'
print(var_test)

def var_example():
    global var_test
    var_test =100
    print(var_test)
print(var_test)
var_example()

나는 전역변수야
나는 전역변수야
100

In [22]:
# 변수 영역 연습

counter =0  # global

def incounter_counter():
    global counter
    counter = counter+1
    # counter += 1
    print("카운터: ", counter)
    # print(f"카운터: {counter}")
    
incounter_counter()
incounter_counter()
incounter_counter()

카운터:  1
카운터:  2
카운터:  3

In [32]:
# 교재 변수 연습 
from copy import copy
a = [1, 2, 3]
b = copy(a)
# b = a[:]    # b =a
b

[1, 2, 3]

In [33]:
b is a

False

In [45]:
id(a),id(b)

(2300925650496, 2300926227072)

# 연습

In [47]:
# 자기 이름으로 삼행시 짓기
print("이: 이 순간에도")
print("정: 정상을 향해 걷는 너는")
print("석: 석양보다 눈부셔")

이: 이 순간에도
정: 정상을 향해 걷는 너는
석: 석양보다 눈부셔

In [57]:
a = input("이: ")
b = input("정: ")
c = input("석: ")

이:  이 순간에도
정:  정상을 향해 걷는 너는
석:  석양보다 눈부셔

In [54]:
print(a,b,c, sep ='\n')    # 줄바꿈 기호 \n

이 순간에도
정상을 향해 걷는 너는
석양보다 눈부셔

In [ ]:
# 문자들의 시작이 \ 역슬래시 -> 이스케이프 문자, 특수 문자 \n \t \

In [59]:
삼행시 = a+'\n'+b+'\n'+c
print(삼행시)

이 순간에도
정상을 향해 걷는 너는
석양보다 눈부셔

# 초보자를 위한 파이썬 300제 연습문제 (11~20)

In [50]:
# 11.삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.

삼성전자 = 50000
총평가금액 = 삼성전자 *10
print("총평가금액: ",총평가금액)

총평가금액:  500000

In [53]:
# 12.다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.

시가총액 = 298000000000000
현재가 = 50000
PER = 15.79

print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [54]:
# 13.문자열 출력
s = "hello"
t = "python"

print(s+"!",t)

hello! python

In [57]:
# 15.type 함수

a =128
print (type(a))

a=132
print (type(a))

<class 'int'>
<class 'int'>

In [61]:
# 16.문자열 '720'를 정수형으로 변환해보세요.

num_str = "720"
num_int =int(num_str)
print(num_int, type(num_int))

720 <class 'int'>

In [62]:
# 17. 정수 100을 문자열 '100'으로 변환해보세요.

num =100
num_str = str(num)
print(num_str, type(num_str))

100 <class 'str'>

In [64]:
# 18.문자열 "15.79"를 실수(float) 타입으로 변환해보세요.

a =15.79
a = float(a)
print(a, type(a))

15.79 <class 'float'>

In [67]:
# 19. 문자열을 정수로 변환

year ="2020"
year = int(year)
print(year-1,year-2,year-3)

2019 2018 2017

In [73]:
# 20. 에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다.
# 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)
월금액 = 48584
개월수 = 36
result = 월금액*개월수
print("총 금액: ", result)

총 금액:  1749024

# 자료형

In [ ]:
-기본 자료형: 숫자형, 문자열형 str, 부울형
-복합 자료형: 리스트 셋, 튜플, 딕셔너리

기본 자료형        | 설명                               | 예시                        |
|---------------|------------------------------------|-----------------------------|
| 정수형 (`int`) | 정수를 저장하는 자료형              | `1`, `-5`, `100`            |
| 실수형 (`float`) | 소수점이 있는 숫자를 저장하는 자료형 | `3.14`, `-0.001`, `2.0`     |
| 문자열 (`str`) | 텍스트를 저장하는 자료형             | `"Hello"`, `'파이썬'`       |
| 논리형 (`bool`) | 참/거짓 값을 저장하는 자료형         | `True`, `False`             |

| 복합 자료형         | 설명                                      | 예시                                      |
|----------------|-------------------------------------------|-------------------------------------------|
| 리스트 (`list`) | 여러 항목을 순서대로 저장하는 자료형         | `[1, 2, 3]`, `['a', 'b']`                  |
| 튜플 (`tuple`)  | 변경 불가능한 순서가 있는 자료형             | `(1, 2)`, `('x', 'y')`                     |
| 딕셔너리 (`dict`)| 키와 값의 쌍으로 데이터를 저장하는 자료형   | `{'name': '홍길동', 'age': 20}`            |
| 집합 (`set`)    | 중복되지 않는 항목들의 모음                  | `{1, 2, 3}, {'apple', 'banana'}`            |

In [116]:
# 정수형 int
10,type(10)

(10, int)

In [75]:
age = 10
type(age)

int

In [ ]:
1. 진법: 10진수, 2진수, 8진수, 16진수
2. 입력하는 방법은 다르지만, print()결과는 동일하다.

In [79]:
a = 10       # 2진수: bin()    # 8진수: oct()    # 16진수: hex()
b = 0b1010
a,b

(10, 10)

In [81]:
# 실수형 float
a = 3.14
a,type(a)

(3.14, float)

In [ ]:
지수의 표기

숫자e2 ->10^2의 곱 = 10**3
숫자e-2 -> 10^-2의 곱 = 10**-1

In [89]:
fa = 10e2
fa,10**3

(1000.0, 1000)

In [88]:
fb = 10e-2
fb, 10**-1

(0.1, 0.1)

In [ ]:
# 논리형 bool
BOOLEM값 = True False

In [99]:
ba = True
type(ba)

bool

In [100]:
ba == True

True

In [102]:
# 사칙연산 + - * / // % **
a = 2
b = 3

In [103]:
a+b
a-b
a*b
a/b, a//b, a%b, a**b

(0.6666666666666666, 0, 2, 8)

In [104]:
# 비교연산자
1+2 ==4

False

In [105]:
1+2 <4

True

In [106]:
1+2 !=2

True

In [107]:
1+2 <=3

True

In [109]:
# 비교연산자와 논리연산자의 결합
10%2 ==0 and 12%3 == 0

True

In [111]:
a ='1234'
b = '5678'
a,b,id(a),id(b)

('1234', '5678', 2300887734608, 2300929599424)

In [112]:
id(a)==id(b)

False

In [113]:
# 대입 연산자
a = 10
b = a+1
a,b

(10, 11)

In [142]:
a = 20
a += 1    # a = a + 1
a

21

In [143]:
a -= 1    # a = a - 1
a

20

In [145]:
a =3
b =2
a += 2 + b
a

7

# 문자열
''  ""  ``

In [146]:
a = 'zxc'
b = 'asd'
a+b

'zxcasd'

In [148]:
a * 3

'zxczxczxc'

In [149]:
c = "Kim's family."
c

"Kim's family."

In [150]:
a = 'i'
b = 'i'
a ==b

True

In [151]:
# 문자열은 리스트, 열거형
a = '2001asdcxz' # 10개의 글자의 목록
a[0] # 숫자 자리수 -> 인덱스

'2'

In [156]:
a[3] #인덱싱

'1'

In [157]:
a[:3] # 영역을 지정할 때 :(콜론),  슬라이싱

'200'

In [159]:
a = '2001asdcxz'
a[7:9]

'cx'

In [161]:
a[::-1] # 역순으로 전체 뒤집기

'zxcdsa1002'

In [162]:
a[::2] # 전체 중에서 2칸씩 건너뛰기

'20adx'

In [163]:
a[1::2] # 	1번 인덱스부터 2칸씩

'01scz'

In [167]:
s ='abc'
a =s
a is s

True

In [168]:
s ='abc'
b =s[:]
a is b

True

In [171]:
s1 = '1'*1000
s1

'1111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111'

In [172]:
b = s1[:]
s1 is b

True